Name: Unbound
Description: Discord mobile client aimed at providing the user control, stability and customizability.
Version: 1.0.0
Package: app.unbound.ios
Architecture: iphoneos-arm
Maintainer: eternal
Author: Unbound Team
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
SileoDepiction: https://repo.unbound.app/depictions/unbound.json
Icon: https://repo.unbound.app/icons/Unbound.png
