Name: Unbound
Description: The power of addons, all in your hand.
Version: 3.0.0
Package: app.unbound.ios
Architecture: iphoneos-arm
Maintainer: Zoey, eternal
Author: Unbound Team
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
SileoDepiction: https://repo.unbound.app/depictions/unbound.json
Icon: https://repo.unbound.app/icons/Unbound.png
