name: Create a stable release (rewrite)
on:
  push:
    tags:
       - '*'
  pull_request:
    tags:
      - '*'
  workflow_dispatch:
    inputs:
      discord_ipa_url:
        description: "Discord IPA URL"
        default: ""
        required: true
        type: string

jobs:
  build:
    name: Build and publish Unbound for iOS
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: 'main'
          submodules: true

      - name: Check cache
        id: verify-cache
        run: |
          echo "::set-output name=heads::`git ls-remote https://github.com/theos/theos | head -n 1 | cut -f 1`-`git ls-remote https://github.com/theos/sdks | head -n 1 | cut -f 1`"

      - name: Use cache
        uses: actions/cache@v2
        with:
          path: |
            ${{ github.workspace }}/theos
          key: ${{ runner.os }}-${{ steps.verify-cache.outputs.heads }}

      - name: Prepare Theos
        uses: Randomblock1/theos-action@v1

      - name: Install cyan
        run: pip install --force-reinstall https://github.com/asdfzxcvbn/pyzule-rw/archive/main.zip Pillow

      - name: Prepare Unbound Patcher
        run : |
          curl -L https://github.com/SerStars/patcher-ios/releases/latest/download/patcher.mac-amd64 -o ${{ github.workspace }}/patcher
          chmod +x patcher

      - name: Download Discord IPA
        run: |
          curl -L ${{ inputs.discord_ipa_url }} -o ${{ github.workspace }}/Discord.ipa

      - name: Patch Discord
        run : |
          ${{ github.workspace }}/patcher ${{ github.workspace }}/Discord.ipa
          mkdir out

      - name: Build package
        run: |
          rm -f packages/*
          gmake clean package
          mv $(find packages -name "*.deb" -print -quit) out/Unbound.deb

      - name: Inject tweak
        run: cyan -duwsgq -i Unbound.ipa -o out/Unbound.ipa -f out/Unbound.deb

      - name: Build dev deb
        run: |
          rm -f packages/*
          echo $"$(sed 's/Name\:.*/Name\: Unbound (Dev)/' control)" > control
          echo $"$(sed 's/Package\:.*/Package\: app.unbound.dev/' control)" > control
          gmake clean package FINALPACKAGE=1 DEVTOOLS=1
          mv $(find packages -name "*.deb" -print -quit) out/Unbound.Development.deb

      - name: Inject dev tweak
        run: cyan -duwsgq -i Unbound.ipa -o out/Unbound.ipa -f out/Unbound.Development.deb

      - id: latestRelease
        uses: pozetroninc/github-action-get-latest-release@master
        if: startsWith(github.ref, 'refs/tags/') != true
        with:
          owner: unbound-mod
          repo: unbound
          excludes: prerelease, draft

      - id: tagName
        run: |
          echo "tag=$(startsWith(github.ref,'refs/heads/master') && 'v${{ github.ref_name }}' || '${{ steps.latestRelease.outputs.release }}')"

      - name: Create release
        uses: softprops/action-gh-release@v1
        env:
          GITHUB_REPOSITORY: "unbound-mod/unbound"
        with:
          tag_name: ${{ steps.tagName.output.tag }}
          files: out/*
          token: ${{ secrets.GH_TOKEN }}
